.App {
    font-family: sans-serif;
    text-align: center;
}

html {
    background: white;
    color: white;
}

#wrapper {
    display:flex;
    flex-wrap:wrap;
  }
  .splitImg {
    padding: 1px;
    background-clip: content-box;
    background-repeat: no-repeat;
  }

  .grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .cell {
    padding: 10px;
    background-color: #ccc;
  }